<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erreur.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_E-esprit.png') }}">
    <title>404 | E-spirit</title>
</head>
<body>
    <div>
        <center>
            <h1>Erreur de destination ???</h1>
        </center>
    </div>
    <center>
        <img src="{{ url_for('static', filename='img/erreur500.png') }}" alt="erreur 404 image">
    </center>
</body>
</html>