<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit album</title>
    <link rel="stylesheet" type="text/css" href="../static/css/albumquests.css">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script>
        var current_user = { id: {{ current_user.id | tojson }} };
    </script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/album.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="../static/js/profil.js"></script>
</head>
<body class="slide-out" data-page="page4">
    <header>
        <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="Photo" class="ta-pp">
        <h2 class="username"> {{ current_user.username }} </h2>
        <div class="Name-page">Album</div>
    </header>
    <div class="toggle-container">
        <input id="toggle" class="toggle" type="checkbox" role="switch" name="toggle" value="on">
        <div class="slot">
            <span class="slot__label">PHOTO</span>
            <span class="slot__label">QUESTS</span>
        </div>
    </div> 

    <div class="listealbum">
        <div class="grid-item">Album de quêtes perso</div>
        <button class="grid-item" onclick="quests()">Album photo du groupe "groupe d'amis"</button>
        <div class="grid-item">Album de quêtes du chat avec ....</div>
        <div class="grid-item">Album de quêtes du groupe ...</div>
        <div class="grid-item">Album de quêtes du chat........</div>
        <div class="grid-item">Album de quêtes du groupe....</div>
        <div class="grid-item">Album de quêtes du chat avec ....</div>
        <div class="grid-item">Album de quêtes du groupe ...</div>
        <div class="grid-item">Album de quêtes du chat........</div>
        <div class="grid-item">Album de quêtes du groupe....</div>
        <div class="grid-item">Album de quêtes du chat avec ....</div>
        <div class="grid-item">Album de quêtes du groupe ...</div>
        <div class="grid-item">Album de quêtes du chat........</div>
        <div class="grid-item">Album de quêtes du groupe....</div>
        <div class="grid-item">Album de quêtes du chat avec ....</div>
        <div class="grid-item">Album de quêtes du groupe ...</div>
        <div class="grid-item">Album de quêtes du chat........</div>
    </div>
    
    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>

    <div id="account-info-popup" class="popup hidden">
        <div class="popup-content">
            <span id="close-popup" class="close">&times;</span>
            <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="photo" class="profil">
            <h2>Informations du Compte</h2>
            <p id="username"></p>
            <p id="userNom">Nom : ...</p>
            <p id="userPrenom">Prénom : ...</p>
        </div>
    </div>   

    <script>
    
    function quests() {
        window.location.href = "/quests";
    }
    
    
    toggle.addEventListener("change", function() {
  if (this.checked) {
    window.location.href = "/albumquests"; // Replace with the URL of the quests page
  } else {
    window.location.href = "/album"; // Replace with the URL of the photo page
  }
    });
    document.addEventListener("DOMContentLoaded", function() {
    const toggle = document.getElementById('toggle');
    toggle.checked = true; // Set the toggle state to "on" by default
  });
    
    
    
    </script>
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>  
</body>
</html>
