<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit Chat</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-chat.css">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.png">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/theme.js"></script> 
    <script src="../static/js/profil.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script>
        var current_user = { id: {{ current_user.id | tojson }} };
    </script>
</head>
<body class="slide-out" data-page="page3">
    <header>
        <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="Photo" class="ta-pp">
        <h2 class="username"> {{ current_user.username }} </h2>
        <div class="Name-page">Chat</div>
        <button class="header-button" id="open-dialog-button">
            <img src="../static/img/coin_E-esprit.png" alt="coin_E-esprit" class="ta-pp">
        </button>
    </header>



    <dialog id="my-dialog">
        <div class="dialog-header">
            <div class="logo">
                <img src="../static/img/coin_E-esprit.png" alt="Logo">
                <!-- <span class="dots">80 (coins)</span> -->
            </div>
            <h2>Shop Principal</h2>
            <span class="close" onclick="document.getElementById('my-dialog').close()">&times;</span>
        </div>
        <div class="dialog-content">
            <!-- Contenu du dialogue -->
            <div class="blocks-container">
                <button class="block" id="button-Mérite">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Mérite</span><br>
                    <span class="price">100</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                  </button>
                  
                  <button class="block" id="button-badge1">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">1</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                  </button>
                
                  <button class="block" id="button-Bibliothèque">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Bibliothèque Badge</span><br>
                    <span class="price">10</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge2">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">10</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge aléatoire</span><br>
                    <span class="price">150</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge3">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">50</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Apparence">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Apparence aléatoire</span><br>
                    <span class="price">100</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge4">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">100</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Rien">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Rien?</span><br>
                    <span class="price">500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge5">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Animation">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Animation de Badge</span><br>
                    <span class="price">100</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge6">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">1000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Thème2">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Thème v2 2 semaine</span><br>
                    <span class="price">500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>

                
                <button class="block" id="button-badge7">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">2500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Thème4">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Thème v2 4 semaine</span><br>
                    <span class="price">950</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge8">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">5000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-vidéo">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Vidéo pp</span><br>
                    <span class="price">800</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge9">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">10000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-incognito">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Mode incognito 12h</span><br>
                    <span class="price">500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge10">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">25000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Troll">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Troll!!</span><br>
                    <span class="price">500</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge10">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">50000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-Premium1">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Premium 2 semaine</span><br>
                    <span class="price">2000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
                
                <button class="block" id="button-badge12">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Badge de niveau</span><br>
                    <span class="price">100000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                
                </button>
                
                <button class="block" id="button-Premium2">
                    <span class="logoahat"><img src="../static/img/coin_E-esprit.png" alt="logoshop">
                    <span class="text">Premium 2 mois</span><br>
                    <span class="price">250000</span><span class="price-icon"><img src="../static/img/coin_E-esprit.png" alt="Coin E-esprit">
                </button>
            </div>
        </div>
    </dialog>





    {% block content %}
    <div>
        {% for friend in friends %}
            <a href="{{ url_for('chat_with_user', user_id=friend.friend_id) }}" class="url">
                <ul class="conversation">
                    <div class="chat">
                        <img src="data:image/png;base64,{{ friend.avatar }}" alt="pp" class="profilespictures">
                        <div class="chat-info">
                            <span class="chat-name">{{ friend.username }}</span>
                            <div class="no-wrap">
                                <span class="chat-temps">temps</span>   
                                <span class="chat-message">/ Cet endroit corespo...</span>
                            </div>
                        </div>
                        <div class="reglage-button" onclick="handleReglageClick()">
                            <img src="{{ url_for('static', filename='img/trois-points-plus-indicateur.png') }}" alt="reglage" class="reglage">
                        </div>
                    </div>
                </ul>
            </a>
        {% endfor %}
    </div>
    {% endblock %}



    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>
   
    <div id="account-info-popup" class="popup hidden">
        <div class="popup-content">
            <span id="close-popup" class="close">&times;</span>
            <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="photo" class="profil">
            <h2>Informations du Compte</h2>
            <p id="username"></p>
            <p id="userNom">Nom : ...</p>
            <p id="userPrenom">Prénom : ...</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/online.js') }}"></script>   
    <script>
        const dialog = document.getElementById('my-dialog');
        const openButton = document.getElementById('open-dialog-button');
        const closeButton = document.getElementById('close-dialog-button');
        
        openButton.addEventListener('click', () => {
            dialog.showModal();
        });
        
        closeButton.addEventListener('click', () => {
            dialog.close();
        });

        const badge1 = document.getElementById('badge1');
        const openButtonbadge1 = document.getElementById('button-badge1');
        // const closeButton = document.getElementById('close-dialog-button');
        
        openButton.addEventListener('click', () => {
            dialog.showModal();
        });
        
        // closeButton.addEventListener('click', () => {
        //     dialog.close();
        // });

    </script>

</body>
</html>
