<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit Chat</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-discussion.css?v=1.0">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.png">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="../static/js/profil.js"></script>
</head>
<body>
    <header>
        <button class="back-button" onclick="pagechat()">➔</button>
        <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="Photo" class="ta-pp">
        <div class="Name-page">
            <span>Chat avec {{ current_user.username }}</span>
        </div>
    </header>

    <ul id="messages" class="p-3 centered-blocks">
        {% for message in messages %}
            {% if message.sender_id == current_user.id %}
                <div class="block response">
                    <span>{{ message.format_created_at() }}</span>
                    <span>(You) {{ message.sender.username }}:</span>
                    <span>{{ message.text }}</span>
                </div>
            {% else %}
                <div class="block message">
                    <span>{{ message.format_created_at() }}</span>
                    <span>{{ message.sender.username }}:</span>
                    <span>{{ message.text }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
    
    <div class="chat-input-container">
        <input class="chat-input" type="text" placeholder="Tapez votre message...">
        <button class="chat-send-button" id="input-btn">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.20308 1.04312C1.00481 0.954998 0.772341 1.0048 0.627577 1.16641C0.482813 1.32802 0.458794 1.56455 0.568117 1.75196L3.92115 7.50002L0.568117 13.2481C0.458794 13.4355 0.482813 13.672 0.627577 13.8336C0.772341 13.9952 1.00481 14.045 1.20308 13.9569L14.7031 7.95693C14.8836 7.87668 15 7.69762 15 7.50002C15 7.30243 14.8836 7.12337 14.7031 7.04312L1.20308 1.04312ZM4.84553 7.10002L2.21234 2.586L13.2689 7.50002L2.21234 12.414L4.84552 7.90002H9C9.22092 7.90002 9.4 7.72094 9.4 7.50002C9.4 7.27911 9.22092 7.10002 9 7.10002H4.84553Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
        window.addEventListener('load', function() {
            const centeredBlocks = document.querySelector('.centered-blocks');
            if (centeredBlocks) {
                centeredBlocks.scrollTop = centeredBlocks.scrollHeight;
            }
        });

        var socket = io();
        var user_id = "{{ current_user.id }}";  
        var userNames = {};  

        function loadUserNames() {
            fetch("/api/usernames") 
                .then(response => response.json())
                .then(data => {
                    userNames = data;
                });
        }

        loadUserNames();

        var input = document.querySelector(".chat-input");
        var sendButton = document.getElementById("input-btn");

        function sendMessage() {
            if (input.value.trim() !== "") {
                socket.emit("message", {
                    text: input.value,
                    sender_id: user_id,
                    receiver_id: "{{ user_id }}"
                });
                input.value = "";
            }
        }

        sendButton.addEventListener("click", function (e) {
            e.preventDefault();
            sendMessage();
        });

        input.addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                sendMessage();
            }
        });

        socket.on("message", function (data) {
            var messageContainer = document.createElement("div");
            var currentTime = formatDateToLocalTime(data.created_at);
            var senderName = userNames[data.sender_id] || "Unknown";

            if (data.sender_id === user_id) {
                messageContainer.classList.add("block", "response");
                messageContainer.innerHTML = `
                <span>${currentTime}</span>
                <span> (You) ${senderName}:</span>
                <span>${data.text}</span>
            `;
            } else {
                messageContainer.classList.add("block", "message");
                messageContainer.innerHTML = `
                <span>${currentTime}</span>
                <span>${senderName}:</span>
                <span>${data.text}</span>
            `;
            }

            document.getElementById("messages").appendChild(messageContainer);
            document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
        });

        function formatDateToLocalTime(utcDateString) {
            var localDate = new Date(utcDateString);
            return localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        }
    </script>

    <div id="account-info-popup" class="popup hidden">
        <div class="popup-content">
            <span id="close-popup" class="close">&times;</span>
            <img src="data:image/png;base64,{{ avatar_data.avatar }}" alt="photo" class="profil">
            <h2>Informations du Compte</h2>
            <p id="username"></p>
            <p id="userNom">Nom : ...</p>
            <p id="userPrenom">Prénom : ...</p>
        </div>
    </div>  
</body>
</html>
