<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit albumex</title>
    <link rel="stylesheet" type="text/css" href="../static/css/pagealbumex.css">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.ico">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/album.js"></script>
</head>
<body>
  <header>
    <img src="../static/img/imagespp.jpeg" alt="Photo" class="ta-pp">
    <div class="Name-page">Album</div>
  </header>

  <div class="container">
    <div class="calendar">
      <div class="front">
        <div class="current-date">
          <h1>Mercredi 1er</h1>
          <h1>Août 2024</h1> 
        </div>

        <div class="current-month">
          <ul class="week-days">
            <li>LND</li>
            <li>MRD</li>
            <li>MRC</li>
            <li>JED</li>
            <li>VND</li>
            <li>SMD</li>
            <li>DMN</li>
          </ul>

          <div class="weeks">
            <div class="first">
              <span class="last-month">28</span>
              <span class="last-month">29</span>
              <span class="last-month">30</span>
              <span class="last-month">31</span>
              <span>01</span>
              <span>02</span>
              <span>03</span>
            </div>

            <div class="second">
              <span>04</span>
              <span>05</span>
              <span class="day-container">
                <span>06</span>
                <span class="nbphoto">+9</span>
              </span>
              <span>07</span>
              <span>08</span>
              <span>09</span>
              <span>10</span>
            </div>

            <div class="third">
              <span>11</span>
              <span>12</span>
              <span>13</span>
              <span>14</span>
              <span>15</span>
              <span>16</span>
              <span>17</span>
            </div>

            <div class="fourth">
              <span>18</span>
              <span>19</span>
              <span>20</span>
              <span>21</span>
              <span>22</span>
              <span>23</span>
              <span>24</span>
            </div>

            <div class="fifth">
              <span>25</span>
              <span>26</span>
              <span>27</span>
              <span>28</span>
              <span>29</span>
              <span>30</span>
              <span>31</span>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>

  </div>
  <footer>
    <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
    <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
    <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
    <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
    <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
  </footer>
</body>

</html>