<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_E-esprit.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page-admin_dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Admin | E-Spirit</title>
</head>
<body>
    <h1>Server Component Statistics</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <a href="{{ url_for('get_online_users') }}">Online User</a>
    
    <script src="{{ url_for('static', filename='js/stat-serveur.js')}}"></script>
</body>
</html>
