<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../static/img/logo_E-esprit.png">
    <link rel="stylesheet" href="../../static/css/Styles-Body.css">
    <link rel="stylesheet" href="../../static/css/page-register.css">
    <script src="../../static/js/theme.js"></script>
    <title>Register | E-spirit</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="login-container">
        <h2>Inscription</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control") }}
                {% for error in form.first_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control") }}
                {% for error in form.last_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.phone.label }}
                {{ form.phone(class="form-control") }}
                {% for error in form.phone.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <p class="signup-link">Vous possédez déjà un compte ?<a href="{{ url_for('login') }}">Connectez-vous</a></p>
    </div>
</body>
</html>
