<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/404.css">
    <link rel="icon"    type="image/png" href="../static/img/logo_E-esprit.ico">
    <title>404 | E-spirit</title>
</head>
<body>
    <div>
        <center>
            <h1>Erreur de destination ???</h1>
        </center>
    </div>
    <center>
        <img src="../static/img/erreurs404.png" alt="erreur 404 image">
    </center>
</body>
</html>