<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit Paramètre</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-parametre.css">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.png">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/reglage.js"></script>
    <script src="../static/js/theme.js"></script>
</head>
<body class="slide-out" data-page="page5">
    <header>
        <img src="../static/img/imagespp.jpeg" alt="Photo" class="ta-pp">
        <div class="Name-page">Paramètre</div>
    </header>

    <main>
        <div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
            <div class="setting-item">
                <span class="setting-name"></span>
            </div>
        </div>
        <h3>Application</h3>
        <div class="settings-list">
            <div class="setting-item">
                <span class="setting-name">Apparence</span>
                <select id="color-page">
                    <option value="white">Clair</option>
                    <option value="dark">Foncé</option>
                </select>
            </div>
            <div class="setting-item">
                <span class="setting-name">Géolocalisation</span>
                <label class="switch">
                    <input type="checkbox" id="localisation">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="setting-item">
                <span class="setting-name">Notification</span>
                <label class="switch">
                    <input type="checkbox" id="notification">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <h3>Autres</h3>
        <div class="settings-list">
            <div class="setting-item">
                <span class="setting-name">Demande d'Amis</span>
                <label class="switch">
                    <input type="checkbox" id="friends-requests">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="setting-item">
                <span class="setting-name">Authentification à 2 Facteur</span>
                <label class="switch">
                    <input type="checkbox" id="authentification-double-facteur">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="setting-item">
                <span class="setting-name">Langue</span>
                <select id="Langue">
                    <option value="fr">Français</option>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                    <option value="de">Deutsch</option>
                </select>
            </div>
            <h3>Information Personnel</h3>
            <div class="setting-item">
                <span class="setting-name">Date de Naissance</span>
                <input type="date" value="0000-00-00" min="1950-01-01" max="2014-12-31">
            </div>
            <div class="setting-item">
                <span class="setting-name">Numéro de Téléphone</span>
                <label class="input-adresse-mail">
                    <input type="text">
                </label>
            </div>
            <div class="setting-item">
                <span class="setting-name">E-Mail</span>
                <label class="input-adresse-mail">
                    <input type="text">
                </label>
            </div>
            <div class="setting-item">
                <span class="setting-name">Mot de Passe</span>
                <label class="input-adresse-mail">
                    <input type="password">
                </label>
            </div>
        </div>
    </main>
    
    <div class="sert-a-rien">
        <button>Easter EGG ???</button>
    </div>

    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>

    <script>
        document.querySelectorAll(".collapsible").forEach(coll => {
            coll.addEventListener("click", function() {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + "px";
            });
        });

        let btn = document.querySelector('.btn');
        if (btn) {
            let btnFront = btn.querySelector('.btn-front');
            let btnYes = btn.querySelector('.btn-back .yes');
            let btnNo = btn.querySelector('.btn-back .no');

            btnFront.addEventListener('click', function(event) {
                let mx = event.clientX - btn.offsetLeft;
                let my = event.clientY - btn.offsetTop;

                let w = btn.offsetWidth;
                let h = btn.offsetHeight;

                let directions = [
                    { id: 'top', x: w / 2, y: 0 },
                    { id: 'right', x: w, y: h / 2 },
                    { id: 'bottom', x: w / 2, y: h },
                    { id: 'left', x: 0, y: h / 2 }
                ];

                directions.sort((a, b) => {
                    return distance(mx, my, a.x, a.y) - distance(mx, my, b.x, b.y);
                });

                btn.setAttribute('data-direction', directions.shift().id);
                btn.classList.add('is-open');
            });

            btnYes.addEventListener('click', function() {
                btn.classList.remove('is-open');
            });

            btnNo.addEventListener('click', function() {
                btn.classList.remove('is-open');
            });

            function distance(x1, y1, x2, y2) {
                let dx = x1 - x2;
                let dy = y1 - y2;
                return Math.sqrt(dx * dx + dy * dy);
            }
        }
    </script>
</body>
</html>
