<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit Amis</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-amis.css">
    <link rel="icon" type="image/png" href="../static/img/logo_E-esprit.ico">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="../static/js/ami.js"></script>
</head>
<body class="slide-out" data-page="page1">
    <header>
        <img src="../static/img/imagespp.jpeg" alt="Photo" class="ta-pp">
        <div class="Name-page">Amis</div>
    </header>

    <div class="barrerecherche">
        <input type="search" name="rechercheamis" placeholder="Taper le nom de votre ami ou ajouter un ami avec le +"/>
        <button class="search-button"><img src="../static/img/ajouteramis.png" alt="search icon"></button>
    </div>



    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>

    

</body>
</html>
