<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../static/img/logo_E-esprit.png">
    <link rel="stylesheet" href="../../static/css/page-login.css">
    <script src="../../static/js/theme.js"></script>
    <title>Login | E-spirit</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="login-container">
        <h2>Connexion</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">{{ form.username.label.text }}</label>
                {{ form.username(class="form-control", id="username", required=True, pattern="[A-Za-zÀ-ÖØ-Ýà-öø-ÿ0-9.]+") }}
                {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label.text }}</label>
                {{ form.password(class="form-control", id="password", required=True, pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*!])[A-Za-z\d@#$%^&*!]{8,}") }}
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="button-container">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <p class="signup-link">Pas encore de compte ? <a href="{{ url_for('register') }}">Inscrivez-vous</a></p>
    </div>
</body>
</html>
