*:not(header, footer, .icon) {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  background: #dfebed;
  font-family: 'Roboto', sans-serif;
}

/* Add styles for the button */
.show-calendar-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0; /* initially hidden */
  transition: opacity 0.5s;
}

.show-calendar-button:hover {
  background-color: #f0f0f0;
}

/* Add styles for the fade-in/fade-out effects */
.calendar {
  transition: opacity 0.2s;
}

.calendar.fade-out {
  opacity: 0;
}

.calendar.fade-in {
  opacity: 1;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.calendar {
  background: #2b4450;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  height: 501px;
  perspective: 1000;
  transition: .9s;
  transform-style: preserve-3d;
  width: 100%;
}
/* Front - Calendar */
.front {
  transform: rotateY(0deg);
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, .6);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.current-date h1 {
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: #dfebed;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 30px 40px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  height: 100px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.weeks {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.weeks div {
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.last-month {
  opacity: .3;
}

.weeks span {
  padding: 10px;
}

.weeks span:hover {
  cursor: pointer;
  font-weight: 600;
}

.day-container {
  position: relative;
}


/* Back - Event form */

.back {
  height: 100%;
  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(73, 114, 133, .6);
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #dfebed;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, .6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
  background: #497285;
  cursor: pointer;
}

.actions button:active {
  background: #5889a0;
  outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}





body{
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2px;
	padding-top: 60px; /* Ajuste la hauteur du contenu pour tenir compte du header */
	padding-bottom: 60px; /* Ajuste la hauteur du contenu pour tenir compte du footer */
	overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que l'écran */
	height: calc(100% - 120px); /* Ajuste la hauteur pour prendre en compte le header et le footer */
}

header, footer {
    background-color: #f0f0f0;
    color: #000000;
    padding: 18px 0;
    text-align: left;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 80px rgba(24, 24, 24, 0.1);
    z-index: 1000;
}

header {
    top: 0;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust the alignment to properly place elements */
    padding: 10px 20px; /* Add padding for some spacing inside the header */
}

header img.ta-pp {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    border-radius: 20%; /* Round the corners */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    margin-left: 1%;
}

.Name-page {
    position: absolute;
    top: 50%; /* centre verticalement */
    left: 50%; /* centre horizontalement */
    transform: translate(-50%, -50%); /* ajuste la position pour centrer le texte */
    font-size: 30px; /* ajustez la taille de la police à votre convenance */
    font-weight: bold; /* ajustez le poids de la police à votre convenance */
    color: #333; /* ajustez la couleur du texte à votre convenance */
}

footer {
    bottom: 0; /* Ajouté pour que le footer soit en bas de page */
    border-radius: 30px 30px 0 0; /* Arrondi les deux angles supérieurs */
    overflow: hidden;
	/* border-top: 1px solid #a59999; */
	display: flex;
	justify-content: space-between 5px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

  
.icone-friends,.icone-cam,.icone-discu,.icone-album,.icone-setting {
	width: 30px; /* ajustez la largeur à votre convenance */
	height: 30px; /* ajustez la hauteur à votre convenance */
	margin: 0 10px;
	padding-left: 10px;
	padding-right: 10PX;
	transition: transform 0.2s ease-in-out;
    opacity: 50%;
    
}
  
.icone-friends:hover,.icone-cam:hover,.icone-discu:hover,.icone-album:hover,.icone-setting:hover {
    transform: scale(1.5); /* Augmente légèrement la taille au survol */
}


.footer-button{
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.footer-button img,.reglage-button img {
    width: 30px; /* ajustez la largeur à votre convenance */
    height: 30px; /* ajustez la hauteur à votre convenance */
    transition: transform 0.2s ease-in-out;
}


.calendarréap {
  background-color: #4CAF50; /* Vert */
  color: #ffffff; /* Blanc */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main */
  transition: opacity 0.2s;
}

.calendarréap:hover {
  background-color: #3e8e41; /* Vert foncé */
}




.image-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* ajuster la largeur en fonction de vos besoins */
  height: 300px; /* ajuster la hauteur en fonction de vos besoins */
  overflow: hidden;
  display: none; /* hide the slider by default */
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* ou une taille fixe, par exemple 500px */
  height: 300px; /* ou une taille fixe, par exemple 300px */
  object-fit: cover;
  transition: transform 0.5s; /* ajout d'un effet de transition */
}


.image-slider img.active {
  transform: translateX(0);
}

.image-slider img:not(.active) {
  transform: translateX(-100%);
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}