body {
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(77, 77, 77));
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    height: 100vh;
    margin: 0;
}

.button {
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 5px;
}

.chat-button {
    background-color: lightblue;
    color: white;
}

.friends-button {
    background-color: lightgreen;
    color: white;
}


.album-button {
    background-color: pink;
    color: white;
}

.settings-button {
    background-color: lightgray;
    color: black;
}