<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit Amis</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-amis.css">
    <link rel="icon"    type="image/png" href="../static/img/logo_E-esprit.ico">
    <script src="../static/js/main.js"></script>
</head>
<body class="slide-out" data-page="page1">
    <header>
        <img src="" alt="Photo" class="ta-pp">
        <div class="Name-page">Amis</div>
    </header>

    <div class="barrerecherche">
        <input type="search" name="rechercheamis" placeholder="Taper le nom de votre ami ou ajouter un ami avec le +"/>
        <button class="search-button"><img src="../static/img/ajouteramis.png" alt="search icon"></button>
    </div>
    <div class="ligne-sous-barre"></div>

    <div class="listeamis">
        <div class="bonhomme-button"><span class="button-text">A</span></div>
        <div class="bonhomme-button"><span class="button-text">B</span></div>
        <div class="bonhomme-button"><span class="button-text">C</span></div>
        <div class="bonhomme-button"><span class="button-text">D</span></div>
        <div class="bonhomme-button"><span class="button-text">E</span></div>
        <div class="bonhomme-button"><span class="button-text">F</span></div>
        <div class="bonhomme-button"><span class="button-text">G</span></div>
        <div class="bonhomme-button"><span class="button-text">H</span></div>
        <div class="bonhomme-button"><span class="button-text">I</span></div>
        <div class="bonhomme-button"><span class="button-text">J</span></div>
        <div class="bonhomme-button"><span class="button-text">K</span></div>
        <div class="bonhomme-button"><span class="button-text">L</span></div>
        <div class="bonhomme-button"><span class="button-text">M</span></div>
        <div class="bonhomme-button"><span class="button-text">N</span></div>
        <div class="bonhomme-button"><span class="button-text">O</span></div>
        <div class="bonhomme-button"><span class="button-text">P</span></div>
        <div class="bonhomme-button"><span class="button-text">Q</span></div>
        <div class="bonhomme-button"><span class="button-text">R</span></div>
        <div class="bonhomme-button"><span class="button-text">S</span></div>
        <div class="bonhomme-button"><span class="button-text">T</span></div>
        <div class="bonhomme-button"><span class="button-text">U</span></div>
        <div class="bonhomme-button"><span class="button-text">V</span></div>
        <div class="bonhomme-button"><span class="button-text">W</span></div>
        <div class="bonhomme-button"><span class="button-text">X</span></div>
        <div class="bonhomme-button"><span class="button-text">Y</span></div>
        <div class="bonhomme-button"><span class="button-text">Z</span></div>
    </div>


    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>

    <script src="../static/js/main.js">
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        window.onload = function() {
            var buttons = document.querySelectorAll('.bonhomme-button');
            buttons.forEach(function(button) {
                button.style.backgroundColor = getRandomColor();
            });
        };
    </script>

    
</body>
</html>