<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/Styles-page1.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="../static/img/téléchargement.png" alt="logo du NOMDELAPPLI" class="logo">
        <input type="search" name="" id="">
        <h1>NOMDELAPPLI</h1>
    </header>

    <main>
        <h2>NOMDELAPPLI</h2>
        <p1>Chattez et discuttez avec vos amis </p1>
    </main>

    <footer>

        <h3>loool</h3>
    </footer>
</body>
</html>