<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/page_acceuil.css">
</head>

<body>
    <div class="container">
        <button class="button chat-button"><img src="" alt="Chat"></button>
        <button class="button friends-button">Friends</button>
        <button class="button album-button">Album</button>
        <button class="button settings-button">Settings</button>
    </div>
</body>
</html>