<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit paramètre</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page-parametre.css">
    <link rel="icon"    type="image/png" href="../static/img/logo_E-esprit.png">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/reglage.js"></script>
</head>
<body class="slide-out" data-page="page5">
    <header>
        <img src="../static/img/imagespp.jpeg" alt="Photo" class="ta-pp">
        <div class="Name-page">Paramètre</div>
    </header>

    <div class="settings-list">

        <div class="setting-item">
            <span class="setting-name">Apparence</span>
            <select id="color-page">
                <option value="white">Clair</option>
                <option value="dark">Foncé</option>
            </select>
        </div>
    
        <div class="setting-item">
            <span class="setting-name">Géolocalisation</span>
            <label class="switch">
                <input type="checkbox" id="localisation">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="setting-item">
            <span class="setting-name">Demande d'Amis</span>
            <label class="switch">
                <input type="checkbox" id="friends-requests">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="setting-item">
            <span class="setting-name">Notification</span>
            <label class="switch">
                <input type="checkbox" id="notification">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="setting-item">
            <span class="setting-name">E-Mail</span>
        </div>

        <div class="setting-item">
            <span class="setting-name">Numéro de Téléphone</span>
        </div>

        <div class="setting-item">
            <span class="setting-name">Authentification à 2 Facteur</span>
            <label class="switch">
                <input type="checkbox" id="Authentification a 2 facteur">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="setting-item">
            <span class="setting-name">Date de Naissance</span>
        </div>

        <div class="setting-item">
            <span class="setting-name">Pseudo</span>
        </div>

        <div class="setting-item">
            <span class="setting-name">Mot de Passe</span>
        </div>

        <div class="setting-item">
            <span class="setting-name">Langue</span>
        </div>

        <!-- Ajoutez plus de paramètres ici -->
    </div>    
    <div class="save-btn">
        <button id="saveSettings">Sauvegarder les réglages</button>
    </div>
    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>
    
</body>
</html>
