<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Spirit appareil photo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/1er page.css">
    <link rel="stylesheet" href="../static/css/page-photo.css">
    <link rel="icon"    type="image/png" href="../static/img/logo_E-esprit.ico">
    <script src="../static/js/main.js"></script>
</head>
<body class="slide-out" data-page="page2">
    <header>
        <img src="" alt="Photo" class="ta-pp">
        <div class="Name-page">Appareil Photo</div>
    </header>
    <div class="container">
        <video id="camera" width="320" height="240" autoplay></video>
        <canvas id="photo" width="320" height="240"></canvas>
        <button id="snap" class="btn">Prendre une photo</button>
        <button id="upload" class="btn" disabled>Uploader la photo</button>
        <div class="uploaded-image">
            <img id="uploadedImage" src="" alt="Uploaded Image" style="display: none;">
        </div>
    </div>
    <script src="../static/js/appareil-photo.js"></script>


    
    
    <footer>
        <button class="footer-button" onclick="pageamis()"><img src="../static/img/amis.png" alt="icone-friends" class="icone-friends"></button>
        <button class="footer-button" onclick="pagecam()"><img src="../static/img/camera.png" alt="icone-cam" class="icone-cam"></button>
        <button class="footer-button" onclick="pagechat()"><img src="../static/img/icons8-bulle-50.png" alt="icone-discu" class="icone-discu"></button>
        <button class="footer-button" onclick="pagealbum()"><img src="../static/img/album-photo.png" alt="icone-album" class="icone-album"></button>
        <button class="footer-button" onclick="pageparametre()"><img src="../static/img/parametres.png" alt="icone-setting" class="icone-setting"></button>
    </footer>

    <script src="../static/js/main.js"></script>   
    
</body>
</html>