body, header {
    margin: 0;
    padding: 0;
}
header {
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: rgba(70, 70, 221, 0.622);
    }
h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    }
.logo{
    width: 90px;   
}


body, main{
    background-color: blueviolet;
}
main{
    flex-grow: 1;
}

body, footer{
    background-color: rgb(0, 255, 76);
}
footer{
    padding: 20px;
    margin-top: auto;
}