body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;
    padding-top: 60px; /* Ajuste la hauteur du contenu pour tenir compte du header */
    padding-bottom: 60px; /* Ajuste la hauteur du contenu pour tenir compte du footer */
    overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que l'écran */
    height: calc(100% - 120px); /* Ajuste la hauteur pour prendre en compte le header et le footer */
}


body.dark {
    background-color: #333;
    color: #fff;
}

header, footer {
    background-color: #f0f0f0;
    color: #000000;
    padding: 18px 0;
    text-align: left;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 80px rgba(24, 24, 24, 0.1);
    z-index: 1000;
}

body.dark header, body.dark footer {
    background-color: #2e2e2e;
    box-shadow: 0 2px 20px rgba(244, 242, 242, 0.123);
}

header {
    top: 0;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Add padding for some spacing inside the header */
}

header img.ta-pp {
    width: 35px;
    height: 35px;
    border-radius: 20%;
    object-fit: cover;
    margin-left: 1%;
}
header img.ta-pp:hover{
    transform: scale(1.1);
}
  
.username {
    margin: 0px 0px 0px 15px;
    color:#333; 
}
  
body.dark .username {
    color: #f0f0f0;
}

.Name-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #333;
}
  
body.dark .Name-page {
    color: #f0f0f0;
}
  
footer {
    bottom: 0; /* Ajouté pour que le footer soit en bas de page */
    border-radius: 30px 30px 0 0; /* Arrondi les deux angles supérieurs */
    overflow: hidden;
    display: flex;
    justify-content: space-between 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.icone-friends,.icone-cam,.icone-discu,.icone-album,.icone-setting {
	width: 30px; /* ajustez la largeur à votre convenance */
	height: 30px; /* ajustez la hauteur à votre convenance */
	/* border-radius: 100%; */
	margin: 0 10px;
	padding-left: 10px;
	padding-right: 10PX;
	transition: transform 0.2s ease-in-out;
    opacity: 50%;
    
}
  
.icone-friends:hover,.icone-cam:hover,.icone-discu:hover,.icone-album:hover,.icone-setting:hover {
    transform: scale(1.5); /* Augmente légèrement la taille au survol */
}


.footer-button{
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.footer-button img,.reglage-button img {
    width: 30px; /* ajustez la largeur à votre convenance */
    height: 30px; /* ajustez la hauteur à votre convenance */
    transition: transform 0.2s ease-in-out;
}

/* Style pour le popup d'information du compte */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 2000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    color: #000;
    text-align: left;
}
  
body.dark .popup {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(244, 242, 242, 0.123);  
}
  
.popup.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
  
.popup.hidden {
    transform: translate(-50%, -50%) scale(0.9);
}
  
.popup-content {
    padding: 20px;
}
  
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
  
/* Corps assombri lorsque le popup est ouvert */
body.popup-open {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}
  
.chat-input-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px; /* reduced padding from 10px to 5px */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


body.dark .chat-input-container{
    background-color: #333;
}

  .chat-input {
    flex: 1; /* prendre tout l'espace disponible */
    padding: 10px; /* ajouter un padding à l'intérieur de l'input */
    border: none; /* supprimer la bordure de l'input */
    border-radius: 10px; /* ajouter un radius pour arrondir les coins */
}

body.dark .chat-input{
    background-color: #333;
}

.chat-send-button {
    margin-left: 10px; /* ajouter un espace entre l'input et le bouton */
    padding: 10px 20px; /* ajouter un padding au bouton */
    border: none; /* supprimer la bordure du bouton */
    border-radius: 10px; /* ajouter un radius pour arrondir les coins */
    background-color: #4CAF50; /* ajouter un background vert au bouton */
    color: #fff; /* ajouter un texte blanc au bouton */
    cursor: pointer; /* ajouter un curseur de pointeur au bouton */
}

body.dark .chat-send-button {
    color: #333;
}

.photo-send-button {
    margin-left: 10px; /* ajouter un espace entre l'input et le bouton */
    padding: 10px 20px; /* ajouter un padding au bouton */
    border: none; /* supprimer la bordure du bouton */
    border-radius: 10px; /* ajouter un radius pour arrondir les coins */
    background-color: #4CAF50; /* ajouter un background vert au bouton */
    color: #fff; /* ajouter un texte blanc au bouton */
    cursor: pointer; /* ajouter un curseur de pointeur au bouton */
}

body.dark .chat-send-button {
    color: #333;
}






body.dark .chat-message{
    background-color: #3c3a3ab5;
}


.username {
    display: block;
}
.chat-message-container {
    text-align: left;
    margin: 10px 0;
  }

.chat-message-container-you {
    text-align: right;
    margin: 10px 0;
}

.chat-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chat-message.you .username {
    color: #337ab7; /* bleu pour votre nom d'utilisateur */
}

.chat-message:not(.you) .username {
    color: #262424; /* gris pour le nom des autres utilisateurs */
}

.chat-message-container small {
    color: #999; /* couleur pour l'heure */
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center; /* align items to the center */
    justify-content: center; /* align items to the center vertically */
    max-width: 100%; /* take full width without creating a horizontal scrollbar */
}
.chat-message-container:not(.chat-message-container-you) {
    justify-content: flex-start;
  }


















  .centered-blocks {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    padding-bottom: 80px;
  }
  
  .block {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 40%; /* largeur maximale du block */
    display: inline-block; /* pour que le block prenne la largeur du texte */
  }
  
  .block.message {
    background-color: #aaaaaab4;
    border-bottom: 1px solid #ccc;
    margin-right: auto; /* pour aligner à gauche */
  }
  
  .block.response {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    margin-left: auto; /* pour aligner à droite */
    background-color: #3a12ff;
    background-image: linear-gradient(#2e89ff, #0038d3fd);
  }
  
  .block span {
    font-size: 14px;
    color: white;
  }




  .back-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    transform: rotateY(180deg);
  }
