body{
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2px;
	padding-top: 60px; /* Ajuste la hauteur du contenu pour tenir compte du header */
	padding-bottom: 60px; /* Ajuste la hauteur du contenu pour tenir compte du footer */
	overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que l'écran */
	height: calc(100% - 120px); /* Ajuste la hauteur pour prendre en compte le header et le footer */
}

body.dark {
    background-color: #333;
}

header, footer {
    background-color: #f0f0f0;
    color: #000000;
    padding: 18px 0;
    text-align: left;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 80px rgba(24, 24, 24, 0.1);
    z-index: 1000;
}

body.dark header, body.dark footer {
    background-color: #2e2e2e;
    box-shadow: 0 2px 20px rgba(244, 242, 242, 0.123);
}

header {
    top: 0;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Add padding for some spacing inside the header */
}

header img.ta-pp {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    border-radius: 20%; /* Round the corners */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    margin-left: 1%;
}
header img.ta-pp:hover{
    transform: scale(1.1);
}

.username {
    margin: 0px 0px 0px 15px;
    color:#333; 
  }
  
  body.dark .username {
    color: #f0f0f0;
  }
  

img.profil {
    margin: auto;
    border-radius: 5%;
    display: flex;
}

.Name-page {
    position: absolute;
    top: 50%; /* centre verticalement */
    left: 50%; /* centre horizontalement */
    transform: translate(-50%, -50%); /* ajuste la position pour centrer le texte */
    font-size: 30px; /* ajustez la taille de la police à votre convenance */
    font-weight: bold; /* ajustez le poids de la police à votre convenance */
    color: #333; /* ajustez la couleur du texte à votre convenance */
}

body.dark .Name-page {
    color: #fff;
}

footer {
    bottom: 0; /* Ajouté pour que le footer soit en bas de page */
    border-radius: 30px 30px 0 0; /* Arrondi les deux angles supérieurs */
    overflow: hidden;
	/* border-top: 1px solid #a59999; */
	display: flex;
	justify-content: space-between 5px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

  
.icone-friends,.icone-cam,.icone-discu,.icone-album,.icone-setting {
	width: 30px; /* ajustez la largeur à votre convenance */
	height: 30px; /* ajustez la hauteur à votre convenance */
	/* border-radius: 100%; */
	margin: 0 10px;
	padding-left: 10px;
	padding-right: 10PX;
	transition: transform 0.2s ease-in-out;
    opacity: 50%;
    
}

.footer-button img,.reglage-button img {
    width: 30px; /* ajustez la largeur à votre convenance */
    height: 30px; /* ajustez la hauteur à votre convenance */
    transition: transform 0.2s ease-in-out;
}

.icone-friends:hover,.icone-cam:hover,.icone-discu:hover,.icone-album:hover,.icone-setting:hover {
    transform: scale(1.5); /* Augmente légèrement la taille au survol */
}

.conversation {
    display: flex;
    flex-direction: column;
    width: 100vw; /* ajouté */
    max-width: 100%; /* ajouté */
    margin: 0 auto;
    padding: 10px 0;
    justify-content: center;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 75px;
    position: relative;
    padding-right: 40px; /* Assurez-vous qu'il y a de l'espace pour le bouton réglage */
}


.chat-name {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}
  
.chat-message {
	font-size: 16px;
	color: #666;
	text-align: left;
	white-space: nowrap; /* empêche le texte de s'enrouler à la ligne suivante */
	overflow: hidden; /* cache le texte qui dépasse */
	text-overflow: ellipsis; /* remplace le texte qui dépasse par des points de suspension */
	width: 100%; /* définir une largeur maximale pour l'élément */
	display: inline-block;
}

.chat-temps {
	font-size: 16px;
	color: #8d8ef5;
	text-align: left;
	white-space: nowrap; /* empêche le texte de s'enrouler à la ligne suivante */
	overflow: hidden; /* cache le texte qui dépasse */
	text-overflow: ellipsis; /* remplace le texte qui dépasse par des points de suspension */
	width: 100%; /* définir une largeur maximale pour l'élément */
	display: inline-block;
}

.chat:hover {
    background-color: #dfdfdf;
}

.no-wrap {
	white-space: nowrap;
}
.no-wrap span {
	margin: 0; /* Supprimer les marges */
	padding: 0; /* Supprimer les rembourrages */
	display: inline; /* Assurer qu'ils sont des éléments en ligne */
}

.profilespictures {
    width: 30px; /* ajustez la largeur à votre convenance */
    height: 30px; /* ajustez la hauteur à votre convenance */
    border-radius: 20%; /* ajustez le rayon de courbure à votre convenance */
    margin: 0 10px;

}



.footer-button{
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.reglage-button {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1; /* S'assure que le bouton est au-dessus des autres éléments */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 65%;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 2000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    color: #000;
    text-align: left;
  }
  
  body.dark .popup {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(244, 242, 242, 0.123);  
  }
  
  .popup.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup.hidden {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  .popup-content {
    padding: 20px;
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Corps assombri lorsque le popup est ouvert */
  body.popup-open {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }
  