/* Reset default margin and padding */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
}

/* Body Styling */
body {
  background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2px;
	padding-top: 60px; /* Ajuste la hauteur du contenu pour tenir compte du header */
	padding-bottom: 60px; /* Ajuste la hauteur du contenu pour tenir compte du footer */
	overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que l'écran */
	height: calc(100% - 120px); /* Ajuste la hauteur pour prendre en compte le header et le footer */
}

body.dark {
  background-color: #333;
  color: #fff;
}

/* Header and Footer Styling */
header, footer {
  background-color: #f0f0f0;
  color: #000000;
  padding: 18px 0;
  text-align: left;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 80px rgba(24, 24, 24, 0.1);
  z-index: 1000;
}

body.dark header, body.dark footer {
  background-color: #2e2e2e;
  box-shadow: 0 2px 20px rgba(244, 242, 242, 0.123);
}

header {
  top: 0;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Add padding for some spacing inside the header */
}

header img.ta-pp {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  object-fit: cover;
  margin-left: 1%;
}
header img.ta-pp:hover{
  transform: scale(1.1);
}

.username {
  margin: 0px 0px 0px 15px;
  color:#333; 
}

body.dark .username {
  color: #f0f0f0;
}

.Name-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

body.dark .Name-page {
  color: #f0f0f0;
}

footer {
  bottom: 0; /* Ajouté pour que le footer soit en bas de page */
  border-radius: 30px 30px 0 0; /* Arrondi les deux angles supérieurs */
  overflow: hidden;
  display: flex;
  justify-content: space-between 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.icone-friends,.icone-cam,.icone-discu,.icone-album,.icone-setting {
	width: 30px; /* ajustez la largeur à votre convenance */
	height: 30px; /* ajustez la hauteur à votre convenance */
	/* border-radius: 100%; */
	margin: 0 10px;
	padding-left: 10px;
	padding-right: 10PX;
	transition: transform 0.2s ease-in-out;
    opacity: 50%;
    
}
  
.icone-friends:hover,.icone-cam:hover,.icone-discu:hover,.icone-album:hover,.icone-setting:hover {
    transform: scale(1.5); /* Augmente légèrement la taille au survol */
}


.footer-button{
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.footer-button img,.reglage-button img {
    width: 30px; /* ajustez la largeur à votre convenance */
    height: 30px; /* ajustez la hauteur à votre convenance */
    transition: transform 0.2s ease-in-out;
}

/* Main Content Styling */
main {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
}

.settings-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark .setting-item {
  background: #444;
  color: #fff;
}

.setting-name {
  font-weight: bold;
}

.sert-a-rien {
  text-align: center;
  margin: 40px 0;
}

.sert-a-rien button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sert-a-rien button:hover {
  background-color: #0056b3;
}

/* Switch Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #9dd3ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.input-adresse-mail input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-adresse-mail input:focus {
  outline: none;
  border-color: #007BFF;
}
/* Style pour le popup d'information du compte */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  color: #000;
  text-align: left;
}

body.dark .popup {
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 8px rgba(244, 242, 242, 0.123);  
}

.popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup.hidden {
  transform: translate(-50%, -50%) scale(0.9);
}

.popup-content {
  padding: 20px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Corps assombri lorsque le popup est ouvert */
body.popup-open {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

img.profil {
  margin: auto;
  border-radius: 5%;
  display: flex;
}


select {

  /* styling */
  background-color: white;
  border: thin solid rgb(146, 146, 146);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

body.dark .icone-friends {
  filter: invert(1);
}

body.dark .icone-cam {
  filter: invert(1);
}

body.dark .icone-discu {
  filter: invert(1);
}

body.dark .icone-album {
  filter: invert(1);
}

body.dark .icone-setting {
  filter: invert(1);
}





body.dark input[type="text"], body.dark input[type="password"], body.dark input[type="date"] {
  background-color: #444;
  color: #fff;
  border-color: #333;
}

body.dark input[type="text"]:focus, body.dark input[type="password"]:focus, body.dark input[type="date"]:focus {
  border-color: #333;
  box-shadow: 0 0 10px #444;
}

body.dark select {
  background-color: #444;
  color: #fff;
  border-color: #333;
}

body.dark select:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #333;
  outline: 0;
}